body {
    width:80%;
    margin-left: 10%;
    padding-top: 2%;;
}
header {
    height: 300px;
}
header > img{
    width: 100%;
    height: 100%;
    opacity: 0.3;
}

.header {
    position: absolute;
    top: 4%;
    display:flex;
    width: 50%;
    justify-content:space-around;
    align-items:baseline;
    margin-bottom: 5%;
}
.poster {
    width: 30%;
}
.poster > img {
    width:100%;
    height: 100%;
}

.genres {
    display:flex;
}
.tag-genre {
    border-radius: 15px;
    border: 2px solid black;
    padding:3%;
    margin-left: 2%;
    font-weight:bold;
    font-style: italic;
    background-color: #f0f0f0;
}